<section class="myfooter bg-body py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="fs-5">VĂN PHÒNG GIAO DỊCH</h5>
        <ul class="list-menu">
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="li_menu">
            <a href="/gioi-thieu" class="text-secondary" title="Giới thiệu"
              >Giới thiệu</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Sản phẩm">Sản phẩm</a>
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Tin mới nhất"
              >Tin mới nhất</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Câu hỏi thường gặp"
              >Câu hỏi thường gặp</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Tuyển dụng">Tuyển dụng</a>
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Liên hệ">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>LIÊN KẾT NHANH</h5>
        <ul class="list-menu">
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Trang chủ">Tài khoản </a>
          </li>
          <li class="li_menu">
            <a href="/gioi-thieu" class="text-secondary" title="Giới thiệu">
              Giỏ hàng
            </a>
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Sản phẩm">Chính sách</a>
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Tin mới nhất"
              >Điều khoản</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Câu hỏi thường gặp"
              >Câu hỏi thường gặp</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Tuyển dụng">Tuyển dụng</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="fs-5">CHÍNH SÁCH BÁN HÀNG</h5>
        <ul class="list-menu">
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Trang chủ"
              >Hoa quả tươi
            </a>
          </li>
          <li class="li_menu">
            <a href="/gioi-thieu" class="text-secondary" title="Giới thiệu"
              >Hoa nhập khẩu</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Sản phẩm"
              >Hoa quả đặc biệt</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Tin mới nhất"
              >Qùa tặng kèm</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Câu hỏi thường gặp"
              >Hoa quả mới</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Câu hỏi thường gặp"
              >Hoa quả theo mùa</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="fs-5">THEO DÕI CHÚNG TÔI</h5>
        <ul class="list-menu">
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="li_menu">
            <a href="/gioi-thieu" class="text-secondary" title="Giới thiệu"
              >Giới thiệu</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Sản phẩm">Sản phẩm</a>
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Tin mới nhất"
              >Tin mới nhất</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Câu hỏi thường gặp"
              >Câu hỏi thường gặp</a
            >
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Tuyển dụng">Tuyển dụng</a>
          </li>
          <li class="li_menu">
            <a href="#" class="text-secondary" title="Liên hệ">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h5>THIÊN ĐƯỜNG HOA QUẢ TƯƠI</h5>
        <p class="text-secondary">
          Klever Fruits là tổ hợp chuỗi cửa hàng thực phẩm sạch số 1 tại Việt
          Nam với hơn 100 cửa hàng lớn nhỏ trên toàn quốc...
        </p>
        <p class="text-secondary">
          Địa chỉ: 84 P. Mai Dịch, Mai Dịch, Cầu Giấy, Hà Nội
        </p>
        <p class="text-secondary">
          Điện thoại: 19006750 Email: aventteam@gmail.com
        </p>
      </div>
      <div class="col-md-6">
        <h5>NHẬN TIN KHUYẾN MÃI</h5>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Nhập email"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <span class="input-group-text text-white bg-danger" id="basic-addon2"
            >ĐĂNG KÝ</span
          >
        </div>
        <div>
          <span class=""></span
          ><button type="button" class="btn btn-outline-primary">
            <i class="fa-brands fa-facebook"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <i class="fa-brands fa-instagram"></i>
          </button>
          <button type="button" class="btn btn-outline-success">
            <i class="fa-brands fa-square-twitter"></i>
          </button>
          <button type="button" class="btn btn-outline-danger">
            <i class="fa-brands fa-tiktok"></i>
          </button>
        </div>
      </div>
    </div>
    <hr />
    <div class="row d-flex justify-content-between">
      <div class="col-md-6">
        Shop Xin Đảm Bảo Sẽ Không Gửi Mail Rác, Mail Spam Tới Bạn.
      </div>
      <div class="col-md-6">
        Chúc Qúy Khách Một Ngày Tốt Lành Tràn Đầy Năng Lượng 🥰❤🌹
      </div>
    </div>
  </div>
</section>
