<section>
  <div class="container mt-2">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <img src="/img/logo.jpg" alt="" />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
          title="Menu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="group w-50 mt-4 ms-3">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
              <g>
                <path
                  d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                ></path>
              </g>
            </svg>
            <input placeholder="Search" type="search" class="input" />
          </div>

          <div class="login mt-3">
            <a href="#dang-nhap" class="dn ms-3">Đăng nhập</a>
            <label for="">/</label>
            <a href="#dang-ky" class="dn">Đăng ký</a>

            <a
              id="bottone5"
              href="#gio-hang"
              class="btn ms-3"
              style="background-color: #f16c52; color: white"
            >
              <i class="fa-solid fa-bag-shopping text-light me-2"></i>
              Giỏ hàng : (0)
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <hr />
  <div class="container">
    <div class="menu">
      <ul class="nav justify-content-center">
        <!-- <li class="nav-item">
          <b
            ><a class="nav-link" href="#tin-tuc"
              >Xin Chào {{info.username}}</a
            ></b
          >
        </li> -->
        <li class="nav-item">
          <b
            ><a class="nav-link active" aria-current="page" href="#trang-chu"
              >Trang Chủ</a
            ></b
          >
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="#tin-tuc">Tin Tức</a></b>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="#gioi-thieu">Giới Thiệu</a></b>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="#san-pham">Sản Phẩm</a></b>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="#lien-he">Liên Hệ</a></b>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="#qlsp">Quản Lý</a></b>
        </li>
        <!-- <li class="nav-item">
          <b><a class="btn nav-link" href="#" ng-click="logout()">Logout</a></b>
        </li> -->
      </ul>
    </div>
  </div>
  <hr />
</section>
